/* Resets ------ */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
  display: block; }

a img {
  border: 0; }

  @font-face {
    font-family: 'Marcellus';
    src: url('../fonts/Marcellus-Regular.woff2') format('woff2'),
        url('../fonts/Marcellus-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

@-webkit-keyframes fadein {from {opacity: 0; } to {opacity: 1; } }
@keyframes fadein {from { opacity: 0; }to {opacity: 1; } }
@-webkit-keyframes fadeout {from {opacity: 1; }to {opacity: 0; } }
@keyframes fadeout {from {opacity: 1; }to {opacity: 0; } }

body {
  color: transparent;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 1125px;
  min-width: 320px; }

#banner {
  height: 100%;
  width: 100%;
  max-width: 414px;
  max-height: 824px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  @media (max-width: 704px) {
    #banner {
      max-height: 824px; } }
  #banner .adContent-style {
    position: absolute;
    width: 100%;
    height: 1200px;
    left: 0px;
    top: 0px; }
    @media (max-width: 704px) {
      #banner .adContent-style {
		height: 100%; } }
		


#banner .adContent-style .product-style {
	position: absolute;
	background-image: url(../images/product.jpg);
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	width: 75%;
	height: 42%;
	right: 0px;
	top: 100px;
}
     
 
   
  #banner .background-style {
    background-image: url(../images/bg-mobile.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px; }


    #banner .adContent-style .overlay-style {
      position: absolute;
      width: 100%;
      left: 0px;
      height: 100%;
      top: 0px;
    }

    #banner .adContent-style .overlay-style .logo-style {
		position: absolute;
		background-image: url(../images/logo.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50%;
		width: 120px;
		height: 20px;
		left: 20px;
		top: 60px;
     
    }

    #banner .adContent-style .overlay-style .header-style {
		position: absolute;
		color: white;
		font-family: 'Marcellus';
		font-weight: normal;
		left: 20px;
		bottom: 165px;
		font-size: 30px;
		line-height: 34px;
		user-select: none;
    }

    #banner .adContent-style .overlay-style .subheader-style {
		position: absolute;
		color: white;
		font-family: 'Proxima Nova';
		font-weight: normal;
		left: 20px;
		bottom: 115px;
		width: 350px;
		font-size: 18px;
		user-select: none;
    }

    #banner .adContent-style .overlay-style .cta-style {
		position: absolute;
		color: white;
		font-family: 'Proxima Nova';
		font-weight: bold;
		bottom: 50px; 
		height: 40px;
		width: 150px;
		border: 1px solid white;
		left: 20px;
		display:flex;
		justify-content:center;
		align-items:center;
		user-select: none;
    }
